@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;500&display=swap');
body {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	background: #222328;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #2e2e2e;
}

li {
	list-style-type: none;
	margin-top: 10px;
	font-size: 20px;
}


ul {
	margin-left: 0px;
	padding-left: 0px;
}

a {
	color: #67b23c;
	text-decoration: none;
}

a:visited {
	color: #67b23c;
}

a:hover {
	color: #75cd43;
	transition: 500ms;
}

main {
	background-color: #fff;
	display: block;
}

header {
	color: #fff;
	background: url(../img/header_bg.jpg), rgba(255,255,255,0.4);
	background-blend-mode: #000;
	display: flex;
    height: 200px;
	position: relative;
	border-radius: 10px 10px 0 0;
}


header .title {
	margin-top: 150px;
	margin-left: 20px;
	float: left;
}

header .title h2 {
	color: #fff;
	font-size: 36px;
	font-weight: 500;
}

header .title h3 {
	font-size: 28px;
	color:black;
}

.avatar {
	margin-left: 20px;
	height: 150px;
	width: 150px;
	margin-top: 125px;
	background: url(../img/avatar.jpg) 35% 15% no-repeat;
	background-size: 150px auto;
	border-radius: 100%;
	border: 5px solid transparent;
	border-color: #ffffff;
}


.content {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}

aside {
    background: #ffffff;
    width: 400px;
    height: auto;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 100px;
    border-right: 1px solid #e6e6e6;
}

aside .about {
	margin-top: 90px;
}


.right {
    top: 100px;
    right: 240px;
	height: auto;
	width: 800px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 95px;
}

footer {
	background: url(../img/header_bg.jpg), rgba(255,255,255,0.1);
	background-blend-mode: #000;
	color: #fff;
	height: 100px;
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	border-radius: 0 0 10px 10px;
}
.leftside {
	float: left;
	margin-top: 25px;
}
.rightside {
	float: right;
	margin-top:  25px;
}

p {
	font-size: 18px;
}

pre {
	background-color: #f4f4f4;
}

code {
font-size: 15px;
color: #000;
}
hr {
	border: none;
	background-color: #67b23c;
	color: rgb(179, 179, 179);
	height: 2px;
	margin-top: 25px;
	margin-bottom: 25px;
	
}

.inline {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px;
}
.footer-rsschool {
width: 100px;
height: 80px;
padding-right: 0%;
}

.footer-name {
	font-weight: bold;
	font-size: 25px;
	margin-left: 0px;
	white-space: nowrap;
}

.footer-github a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 30px ;
	margin-left: -50px;
	margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
	body {
		margin-top: 0px;
	margin-bottom: 0px;
	}
}
@media only screen and (max-width: 992px) {
	body {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.content {
		justify-content: flex-start;
	}
	.right p {
		width: 550px;
	}
	.right pre  {
		width: 540px
	}
	.right code {
		font-size: 12px;
		width: 500px;
	}
	.right hr {
		width: 545px;
		margin-left: 0px;
	}
	footer {
		width: 992px;
	}
	header {
		width: 992px;
	}
	.content {
		width: 992px;
	}
	}
	
@media only screen and (max-width: 768px) {
	header {
		width: 768px;
	}
	.content {
		width: 768px;
		flex-direction:column;

	}
	aside {
		border-right: 0px;
		margin-left: 25%;
		text-align: center;
		
	}
	footer {
		width: 768px;
		height: 200px;
	}
	.left hr {
		width: 715px;
		margin-left:-50%;
	}
	main {
		margin-left: 10%;
		text-align: center;
	}
	main ul {
		margin-right: 25%;
	 
	}
	main section h2 {
		margin-right: 25%;
	}
	footer .inline {
		flex-direction: column;
		text-align: center;
	}
	.footer-github {
		margin-left: 60px
	}
	.footer-rsschool {
		margin-left: 10px;
	}
	main section {
		padding-bottom: 30px;
	}
	}
	
@media only screen and (max-width: 480px) {
	header {
		width: 480px;
	}
	
}
@media only screen and (max-width: 320px) {
	
}