@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;500&display=swap');
body {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	background: #222328;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #2e2e2e;
}

li {
	list-style-type: none;
	margin-top: 10px;
	font-size: 20px;
}


ul {
	margin-left: 0px;
	padding-left: 0px;
}

a {
	color: #67b23c;
	text-decoration: none;
}

a:visited {
	color: #67b23c;
}

a:hover {
	color: #75cd43;
	transition: 500ms;
}

main {
	background-color: #fff;
	display: block;
}

header {
	color: #fff;
	background: url(../img/header_bg.jpg), rgba(255,255,255,0.4);
	background-blend-mode: #000;
	display: flex;
    height: 200px;
	position: relative;
	border-radius: 10px 10px 0 0;
}


header .title {
	margin-top: 150px;
	margin-left: 20px;
	float: left;
}

header .title h2 {
	color: #fff;
	font-size: 36px;
	font-weight: 500;
}

header .title h3 {
	font-size: 28px;
	color:black;
}

.avatar {
	margin-left: 20px;
	height: 150px;
	width: 150px;
	margin-top: 125px;
	background: url(../img/avatar.jpg) 35% 15% no-repeat;
	background-size: 150px auto;
	border-radius: 100%;
	border: 5px solid transparent;
	border-color: #ffffff;
}


.content {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}

aside {
    background: #ffffff;
    width: 400px;
    height: auto;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 100px;
    border-right: 1px solid #e6e6e6;
}

aside .about {
	margin-top: 90px;
}


.right {
    top: 100px;
    right: 240px;
	height: auto;
	width: 800px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 95px;
}

footer {
	background: url(../img/header_bg.jpg), rgba(255,255,255,0.1);
	background-blend-mode: #000;
	color: #fff;
	height: 100px;
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	border-radius: 0 0 10px 10px;
}
.leftside {
	float: left;
	margin-top: 25px;
}
.rightside {
	float: right;
	margin-top:  25px;
}

p {
	font-size: 18px;
}

pre {
	background-color: #f4f4f4;
}

code {
font-size: 15px;
color: #000;
}
hr {
	border: none;
	background-color: #67b23c;
	color: rgb(179, 179, 179);
	height: 2px;
	margin-top: 25px;
	margin-bottom: 25px;
	
}

